@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

:root {
    --clr-neutral-400: hsl(0, 0%, 100%);
    --clr-slate-300: hsl(212, 45%, 89%);
    --clr-slate-500: hsl(216, 15%, 48%);
    --clr-slate-900: hsl(218, 44%, 22%);
    --inner-radius: 0.5rem;
    --padding: 1rem;
    --outer-radius: calc(var(--inner-radius) + var(--padding));
}

body {
    min-height: 100vh;
    display: grid;
    place-items: center;
    background-color: var(--clr-slate-300);
    font-family: 'Outfit', sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: clamp(1rem, 0.9565rem + 0.2174vw, 1.125rem);
    color: var(--clr-slate-500);
}

.card {
    background-color: var(--clr-neutral-400);
    max-width: 20rem;
    padding: 1rem;
    border-radius: var(--outer-radius);
    text-align: center;

    & .card__img {
        border-radius: var(--inner-radius);
    }

    & .card__heading {
        font-size: clamp(1.375rem, 1.3315rem + 0.2174vw, 1.5rem);
        color: var(--clr-slate-900);
        margin-block-start: 1.5rem;
    }

    & .card__content {
        margin-block-start: 1rem;
    }
}

.sr-only {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}
